* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: #ffffff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-container {
  padding: 2rem;
  background-color: #2a2a2a;
}

.nav-list-container > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-end;
}

.nav-list-container > ul a {
  color: #ffffff;
  font-weight: 700;
}

.nav-list-container > ul a:hover {
  border-bottom: 2px solid #a52a2a;
}

main {
  margin: 3rem auto;
  padding: 0 20%;
  text-align: justify;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #a52a2a;
  padding: 1rem;
  width: 100%;
}

footer .social-media-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.25rem;
}

footer .social-media-container a {
  color: #ffffff;
}
